In [49]:
import numpy as np
import pandas as pd

In [50]:
df= pd.read_csv("C:/Users/91758/Downloads/spam.csv")

In [51]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
v1            5572 non-null object
v2            5572 non-null object
Unnamed: 2    50 non-null object
Unnamed: 3    12 non-null object
Unnamed: 4    6 non-null object
dtypes: object(5)
memory usage: 217.7+ KB

In [53]:
a=df[df['Unnamed: 2'].notnull()]

In [54]:
a.v1.value_counts()

ham     45
spam     5
Name: v1, dtype: int64

In [55]:
a[a['v1']== "spam"]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
95,spam,Your free ringtone is waiting to be collected....,PO Box 5249,"MK17 92H. 450Ppw 16""",NaN
671,spam,SMS. ac sun0819 posts HELLO:\You seem cool,"wanted to say hi. HI!!!\"" Stop? Send STOP to ...",NaN,NaN
899,spam,Your free ringtone is waiting to be collected....,PO Box 5249,"MK17 92H. 450Ppw 16""",NaN
1637,spam,"0A$NETWORKS allow companies to bill for SMS, s...",just as a shop has to give a guarantee on wha...,NaN,NaN
3640,spam,You can stop further club tones by replying \S...,"PO Box 1146 MK45 2WT (2/3)""",NaN,NaN

In [56]:
df[df['Unnamed: 3'].notnull()]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
95,spam,Your free ringtone is waiting to be collected....,PO Box 5249,"MK17 92H. 450Ppw 16""",NaN
281,ham,\Wen u miss someone,the person is definitely special for u..... B...,why to miss them,"just Keep-in-touch\"" gdeve.."""
899,spam,Your free ringtone is waiting to be collected....,PO Box 5249,"MK17 92H. 450Ppw 16""",NaN
1038,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""
2170,ham,\CAN I PLEASE COME UP NOW IMIN TOWN.DONTMATTER...,JUST REALLYNEED 2DOCD.PLEASE DONTPLEASE DONTIG...,"U NO THECD ISV.IMPORTANT TOME 4 2MORO\""""",NaN
2255,ham,I just lov this line: \Hurt me with the truth,I don't mind,i wil tolerat.bcs ur my someone..... But,"Never comfort me with a lie\"" gud ni8 and swe..."
3145,ham,\SHIT BABE.. THASA BIT MESSED UP.YEH,SHE SHUDVETOLD U. DID URGRAN KNOW?NEWAY,"ILLSPEAK 2 U2MORO WEN IM NOT ASLEEP...\""""",NaN
3506,ham,Two fundamentals of cool life: \Walk,"like you are the KING\""...! OR \""Walk like yo...","whoever is the KING\""!... Gud nyt""",NaN
3525,ham,\HEY BABE! FAR 2 SPUN-OUT 2 SPK AT DA MO... DE...,HAD A COOL NYTHO,TX 4 FONIN HON,"CALL 2MWEN IM BK FRMCLOUD 9! J X\"""""
4668,ham,"When I was born, GOD said, \Oh No! Another IDI...",GOD said,"\""OH No! COMPETITION\"". Who knew","one day these two will become FREINDS FOREVER!"""
5048,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""
5081,ham,\HI BABE UAWAKE?FEELLIKW SHIT.JUSTFOUND OUT VI...,DEVIOUSBITCH.ANYWAY,"IåÕL CALL U\""""",NaN

In [57]:
df[df['Unnamed: 4'].notnull()]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
281,ham,\Wen u miss someone,the person is definitely special for u..... B...,why to miss them,"just Keep-in-touch\"" gdeve.."""
1038,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""
2255,ham,I just lov this line: \Hurt me with the truth,I don't mind,i wil tolerat.bcs ur my someone..... But,"Never comfort me with a lie\"" gud ni8 and swe..."
3525,ham,\HEY BABE! FAR 2 SPUN-OUT 2 SPK AT DA MO... DE...,HAD A COOL NYTHO,TX 4 FONIN HON,"CALL 2MWEN IM BK FRMCLOUD 9! J X\"""""
4668,ham,"When I was born, GOD said, \Oh No! Another IDI...",GOD said,"\""OH No! COMPETITION\"". Who knew","one day these two will become FREINDS FOREVER!"""
5048,ham,"Edison has rightly said, \A fool can ask more ...",GN,GE,"GNT:-)"""

In [58]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace= True)

In [59]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [60]:
df.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [61]:
from sklearn.preprocessing import LabelEncoder

In [62]:
le=LabelEncoder()

In [63]:
df['v1']=le.fit_transform(df['v1'])

In [64]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [65]:
y= df['v1']

In [66]:
x= df['v2']

In [67]:
processed = x.str.replace(r'\b[\w\-.]+?@\w+?\.\w{2,4}\b',
                                 'emailaddr')
processed = processed.str.replace(r'(http[s]?\S+)|(\w+\.[A-Za-z]{2,4}\S*)',
                                  'httpaddr')
processed = processed.str.replace(r'£|\$', 'moneysymb')    
processed = processed.str.replace(
    r'\b(\+\d{1,2}\s)?\d?[\-(.]?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}\b',
    'phonenumbr')    
processed = processed.str.replace(r'\d+(\.\d+)?', 'numbr')

In [68]:
#remove punctuation
processed = processed.str.replace(r'[^\w\d\s]', ' ')

#remove whitespace with single space
processed = processed.str.replace(r'\s+', ' ')

#remove trailing and leading space
processed = processed.str.replace(r'^\s+|\s+?$', '')

In [69]:
processed=processed.str.lower()

In [70]:
from nltk.corpus import stopwords

In [24]:
import nltk

In [63]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91758\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [71]:
stopwords= stopwords.words('english')

In [72]:
processed = processed.apply(lambda x: ' '.join(
    term for term in x.split() if term not in set(stopwords))
)

In [73]:
processed.head()

0    go jurong point crazy available bugis n great ...
1                              ok lar joking wif u oni
2    free entry numbr wkly comp win fa cup final tk...
3                  u dun say early hor u c already say
4               nah think goes usf lives around though
Name: v2, dtype: object

In [74]:
from nltk.stem import WordNetLemmatizer

In [29]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\91758\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [75]:
lemmatizer = nltk.WordNetLemmatizer()
processed = processed.apply(lambda x: ' '.join(
    lemmatizer.lemmatize(term) for term in x.split())
)

In [76]:
processed

0       go jurong point crazy available bugis n great ...
1                                 ok lar joking wif u oni
2       free entry numbr wkly comp win fa cup final tk...
3                     u dun say early hor u c already say
4                     nah think go usf life around though
5       freemsg hey darling numbr week word back like ...
6           even brother like speak treat like aid patent
7       per request melle melle oru minnaminunginte nu...
8       winner valued network customer selected receiv...
9       mobile numbr month u r entitled update latest ...
10      gonna home soon want talk stuff anymore tonigh...
11      six chance win cash numbr numbr numbr pound tx...
12      urgent numbr week free membership åmoneysymbnu...
13      searching right word thank breather promise wo...
14                                            date sunday
15      xxxmobilemovieclub use credit click wap link n...
16                                          oh k watching
17      eh u remember numbr spell name yes v naughty m...
18             fine thatåõs way u feel thatåõs way gota b
19      england v macedonia dont miss goal team news t...
20                                   seriously spell name
21                   û going try numbr month ha ha joking
22                        ì_ pay first lar da stock comin
23      aft finish lunch go str lor ard numbr smth lor...
24                     ffffffffff alright way meet sooner
25      forced eat slice really hungry tho suck mark g...
26                                  lol always convincing
27      catch bus frying egg make tea eating mom left ...
28                     back amp packing car let know room
29               ahhh work vaguely remember feel like lol
                              ...
5542                            armand say get as epsilon
5543                  u still havent got urself jacket ah
5544    taking derek amp taylor walmart back time done...
5545                               hi durban still number
5546                               ic lotta childporn car
5547    contract mobile numbr mnths latest motorola no...
5548                                     trying weekend v
5549    know wot people wear shirt jumper hat belt kno...
5550                                  cool time think get
5551                         wen get spiritual deep great
5552    safe trip nigeria wish happiness soon company ...
5553                                hahaha use brain dear
5554    well keep mind got enough gas one round trip b...
5555    yeh indian nice tho kane bit shud go numbr dri...
5556                      yes u texted pshew missing much
5557    meant calculation lt gt unit lt gt school real...
5558                                     sorry call later
5559                       next lt gt hour imma flip shit
5560                               anything lor juz u lor
5561          get dump heap mom decided come lowes boring
5562    ok lor sony ericsson salesman ask shuhui say q...
5563                               ard numbr like dat lor
5564                     wait til least wednesday see get
5565                                              huh lei
5566    reminder onumbr get numbr pound free call cred...
5567    numbrnd time tried numbr contact u u åmoneysym...
5568                         ì_ b going esplanade fr home
5569                                 pity mood suggestion
5570    guy bitching acted like interested buying some...
5571                                       rofl true name
Name: v2, Length: 5572, dtype: object

In [77]:
stop_words= ['u','ok','c']

In [78]:
processed = processed.apply(lambda x: ' '.join(
    term for term in x.split() if term not in set(stop_words))
)

In [79]:
processed.head()

0    go jurong point crazy available bugis n great ...
1                                   lar joking wif oni
2    free entry numbr wkly comp win fa cup final tk...
3                        dun say early hor already say
4                  nah think go usf life around though
Name: v2, dtype: object

In [80]:
from nltk.tokenize import word_tokenize

In [82]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91758\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [83]:
all_words=[]
for m in processed:
    words = word_tokenize(m)
    for w in words:
        all_words.append(w)
        
all_words = nltk.FreqDist(all_words)

In [84]:
# print the total number of words and the 15 most common words
print('Number of words: {}'.format(len(all_words)))
print('Most common words: {}'.format(all_words.most_common(15)))

Number of words: 7208
Most common words: [('numbr', 2128), ('call', 613), ('httpaddr', 479), ('phonenumbr', 409), ('get', 400), ('ur', 385), ('gt', 318), ('lt', 316), ('go', 306), ('åmoneysymbnumbr', 288), ('free', 283), ('know', 271), ('day', 269), ('got', 251), ('come', 250)]

In [85]:
# use the 1500 most common words as features
word_features = list(all_words.keys())[:1500]

In [87]:
# The find_features function will determine which of the 1500 word features are contained in the review
def find_features(message):
    words = word_tokenize(message)
    features = {}
    for word in word_features:
        features[word] = (word in words)

    return features

# Lets see an example!
features = find_features(processed[0])
for key, value in features.items():
    if value == True:
        print (key)

go
jurong
point
crazy
available
bugis
n
great
world
la
e
buffet
cine
got
amore
wat

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
vectorizer = TfidfVectorizer(ngram_range=(1, 2))
X_ngrams = vectorizer.fit_transform(processed)

In [37]:
X_ngrams.shape

(5572, 37294)

In [38]:
X_ngrams

<5572x37294 sparse matrix of type '<class 'numpy.float64'>'
	with 90167 stored elements in Compressed Sparse Row format>

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
from sklearn.svm import LinearSVC

In [41]:
from sklearn import metrics

In [45]:
X_train, X_test, y_train, y_test = train_test_split(
    X_ngrams,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

clf = LinearSVC(loss='hinge')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
metrics.f1_score(y_test, y_pred)

0.9142857142857143

In [46]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [47]:
pd.DataFrame(
    metrics.confusion_matrix(y_test, y_pred),
    index=[['actual', 'actual'], ['spam', 'ham']],
    columns=[['predicted', 'predicted'], ['spam', 'ham']]
)

            predicted
                 spam  ham
actual spam       963    3
       ham         21  128